# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# Ignore trained models
backend/models/*/model.safetensors
backend/models/*/training_args.bin